POSTGRES_DB=land_valuation
POSTGRES_USER=app_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=change_me_minio_123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
